@import '../../stylus/colors'

.container
    background-color #fff
    border-radius 2px
    box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)

.header
    background-color rgba(0, 0, 0, .03)
    border-bottom 1px solid #eee
    border-top-right-radius 2px
    border-top-left-radius 2px
    display flex
    align-items center
    height 32px
    padding 0 20px

.title
    text-transform uppercase
    color #999
    font-size .9em

.body
    padding 20px
    display flex
    flex-direction column
