@import './extras/animate.styl'
@import './extras/reset.styl'

body
    font-family: 'Myriad Pro', 'PT Sans', sans-serif
    font-size: 14px
    font-smoothing: subpixel-antialiased
    font-weight: 400
    line-height: 18px
    color: #333333

a
    text-decoration: none

pre
    font-family Monaco
    font-size 12px
    color #777777

h1
    font-size 32px
    font-weight 300
    line-height 36px

h2
    font-size 28px
    font-weight 300
    line-height 34px

h3
    font-size 24px
    font-weight 300
    line-height 28px

h4
    font-size 22px
    font-weight 300
    line-height 28px

h5
    font-size 18px
    font-weight 300
    line-height 26px

p
    color #555555
    font-size 14px
    line-height 20px

hr
    display block
    background-color #EEEEEE
    height 1px
    border 0
    outline 0

br
    margin: 10px 0
