@import './extras/animate.styl'
@import './extras/reset.styl'

$DEFAULT-COLOR  = #333333
$HR-COLOR       = #EEEEEE
$P-COLOR        = #555555
$PRE-COLOR      = #777777

body
	color: $DEFAULT-COLOR
	font-weight: 400
	font-size: 14px
	font-family: 'Myriad Pro', 'PT Sans', sans-serif
	line-height: 18px
	font-smoothing: subpixel-antialiased

a
	text-decoration: none

pre
	color: $PRE-COLOR
	font-size: 12px
	font-family: Monaco

h1
	font-weight: 300
	font-size: 32px
	line-height: 36px

h2
	font-weight: 300
	font-size: 28px
	line-height: 34px

h3
	font-weight: 300
	font-size: 24px
	line-height: 28px

h4
	font-weight: 300
	font-size: 22px
	line-height: 28px

h5
	font-weight: 300
	font-size: 18px
	line-height: 26px

p
	color: $P-COLOR
	font-size: 14px
	line-height: 20px

hr
	display: block
	height: 1px
	outline: 0
	border: 0
	background-color: $HR-COLOR

br
	margin: 10px 0
