@import url('https://cdn.dayler.io/fonts.css')
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic')

@import './extras/animate.styl'
@import './extras/reset.styl'

body
	font-family: 'Myriad Pro', 'PT Sans', arial, sans-serif
	font-size: 14px
	font-weight: normal
	line-height: 1.5
