@import '~dayler-ui/colors'
@import '~@app/stylus/mixins/route'

route-container()

.title
    margin-bottom 20px
    display flex

.colors
    display flex
    flex-wrap wrap

    & > *:not(:last-child)
        margin-right 10px

.item
    display flex
    width 70px
    height 70px
    padding 10px
    border-radius 2px
    align-items flex-end
    justify-content flex-end
    user-select none
    color #fff

.g-100
    background-color #CACACD
    color #333

.g-200
    background-color #A7A7AC

.g-300
    background-color #84848B

.g-400
    background-color #61616A

.g-500
    background-color #3E3E49

.g-600
    background-color #33333C

.g-700
    background-color #28282F

.g-800
    background-color #1D1D22

.g-900
    background-color #111114
