@import './stylus/colors'
@import './stylus/fonts'
@import './stylus/reset'

html, body
    height 100%

*
    font-family 'Heebo', 'Open Sans', sans-serif

body
    display flex
    font-family 'Heebo', 'Open Sans', sans-serif
    font-size 14px
    font-weight 400
    line-height 1.4285rem
    color #3B3B3B

:global(#root)
    height 100%
    width 100%
    position absolute
    overflow-y auto
    display flex
    flex-direction column
