.container
	padding-bottom 15px

	&:not(:last-child)
		margin-bottom 15px

.title
	border-bottom 1px solid #ddd
	color #888
	display block
	font-size 1.2em
	margin-bottom 15px
	padding-bottom 15px
	user-select none
