@import 'home/stylus/mixins'
@import 'home/stylus/variables'

.container
    display grid
    flex-shrink 0
    grid-template-columns auto
    width calc(100vw - 25px)
    grid-gap 10px

+media-retina()
    .container
        width $screen-retina - 25px

+media-desktop()
    .container
        width $screen-desktop - 25px

+media-tablet()
    .container
        width $screen-tablet - 25px

for retina in 1..12
    for desktop in 1..12
        for tablet in 1..12

            .gw{retina}_{desktop}_{tablet}
                +media-retina()
                    grid-template-columns repeat(retina, 1fr)

                +media-desktop()
                    grid-template-columns repeat(desktop, 1fr)

                +media-tablet()
                    grid-template-columns repeat(tablet, 1fr)
