@import '../../colors'

.container
	align-items center
	display inline-flex
	justify-content center

.input
	height 14px
	margin 0 3px 0 0
	outline 0
	vertical-align middle
	width 14px

	&:checked
		& + label
			&:after
				background-color $dark + 40%
				opacity 1

			&:before
				border 1px solid $dark + 40%

	&:not(checked)
		opacity 0
		position absolute

		& + label
			padding 2px 0 0 20px
			position relative

			&:before
				border-radius 50%
				border 1px solid $dark + 40%
				content ''
				height 16px
				left 0
				position absolute
				top 1px
				width 16px

			&:after
				border-radius 50%
				content ''
				height 10px
				left 3px
				opacity 0
				position absolute
				top 4px
				transition all .2s
				width 10px

.label
	align-items center
	color #555
	cursor pointer
	display flex
	line-height 1em
	user-select none

.title
	position relative
	top 1px

.dark
	&:checked
		& + label
			&:after
				background-color $dark
				opacity 1

			&:before
				border 1px solid $dark

.red
	&:checked
		& + label
			&:after
				background-color $red

			&:before
				border 1px solid $red

.green
	&:checked
		& + label
			&:after
				background-color $green

			&:before
				border 1px solid $green

.yellow
	&:checked
		& + label
			&:after
				background-color $yellow

			&:before
				border 1px solid $yellow
