@import '~dayler-ui/stylus/mixins'

.container
    background-color #fff
    display flex
    flex-direction column
    width 120px
    height 120px
    align-items center
    justify-content center
    border-radius 2px
    flex-shrink 0
    box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
    user-select all
    cursor pointer

    &:hover
        transition transform .1s ease
        transform scale(1.08)


+media-tablet()
    .container
        &:hover
            transform none
            transition none

+media-mobile()
    .container
        width 140px
        height 140px

        &:hover
            transform none
            transition none
