@import '~dayler-ui/stylus/mixins'
@import '~dayler-ui/stylus/colors'

getContainer(cols = 5)
    grid-template-columns repeat(cols, 1fr)

.container
    display flex
    flex-direction column

.icons
    getContainer(8)
    display grid
    grid-gap 10px

.icon
    background-color #fff
    display flex
    flex-direction column
    align-items center
    border-radius 2px
    padding 10px 0
    box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
    transition transform .1s ease-in-out
    user-select all

    &:hover
        transform scale(1.05)

.title
    font-size .8em
    text-transform uppercase
    color #777
    margin-top 10px

.search
    placeholder(#777)
    color #555
    height 41px
    border-radius 20px
    border 0
    outline 0
    background-color #fff
    font-size 1em
    margin 0 5px
    padding 0 20px
    align-self flex-start
    box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
    margin-bottom 25px
    transition all .2s ease
    min-width 130px
    flex-shrink 0

    &:focus
        min-width 80%

+media-retina()
    .icons
        getContainer(10)

+media-desktop()
    .icons
        getContainer(8)

+media-tablet()
    .icons
        getContainer(5)

    .icon
        &:hover
            transform none

+media-mobile()
    .icons
        getContainer(2)

    .icon
        &:hover
            transform none

    .search
        width 100%

    .search
        margin 0 0 10px

        &:focus
            min-width 95%
