@import '~ui/stylus/colors'
@import '../../styles.styl'

.container
    background-color #FFF
    bottom 0
    box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
    left 0
    position fixed
    top 0
    user-select none
    width $NAV_UNEXAPNDED
    z-index 10

.expanded
    width $NAV_EXAPNDED

    & .header
        &-image
            display block

    & .item
        &-title
            display block

.header
    align-items center
    border-bottom 1px solid #EEE
    display flex
    height $NAV_UNEXAPNDED

    &-image
        display none
        position relative
        top -3px

    &-action
        align-items center
        display flex
        justify-content center
        width $NAV_UNEXAPNDED

    &-icon
        cursor pointer

.body
    padding 5px 0

.item
    height 56px

    &-link
        align-items center
        color DARK
        display flex
        text-decoration none
        height 100%

        &:hover
            background-color #FAFAFA

    &-icon
        width $NAV_UNEXAPNDED

    &-title
        display none

.active-link
    & .item
        &-icon
            color RED
        &-title
            color #333
