@import '~ui/stylus/colors'
@import '../../styles.styl'

$ACTIVE-TITLE-COLOR = #333333
$BACKGROUND-COLOR = #FFFFFF
$HEADER-BORDER-COLOR = #EEEEEE
$LINK-HOVER = #FAFAFA

.container
	position: fixed
	top: 0
	bottom: 0
	left: 0
	z-index: 10
	width: $NAV_UNEXAPNDED
	background-color: $BACKGROUND-COLOR
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .17)
	user-select: none

.expanded
	width: $NAV_EXAPNDED

	& .header
		&-image
			display: block

	& .item
		&-title
			display: block

.header
	display: flex
	align-items: center
	height: $NAV_UNEXAPNDED
	border-bottom: 1px solid $HEADER-BORDER-COLOR

	&-image
		position: relative
		top: -3px
		display: none

	&-action
		display: flex
		justify-content: center
		align-items: center
		width: $NAV_UNEXAPNDED

	&-icon
		cursor: pointer

.body
	padding: 5px 0

.item
	height: 56px

	&-link
		display: flex
		align-items: center
		height: 100%
		color: $DARK
		text-decoration: none

		&:hover
			background-color: $LINK-HOVER

	&-icon
		width: $NAV_UNEXAPNDED

	&-title
		position: relative
		top: 2px
		display: none

.active-link
	& .item
		&-icon
			color: $RED

		&-title
			color: $ACTIVE-TITLE-COLOR
