@import '~dayler-ui/stylus/mixins'
@import '~dayler-ui/stylus/variables'

@import '~app/stylus/variables'

.container
    fadeInDown(.3s)
    display flex
    background-color #fff
    height $header-height
    align-items center
    box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
    justify-content center
    position fixed
    width 100%
    user-select none

.content
    height 100%
    display flex
    align-items center
    width calc(100vw - 25px)
    justify-content space-between

+media-retina()
    .content
        width $screen-retina - 25px

+media-desktop()
    .content
        width $screen-desktop - 25px

+media-tablet()
    .content
        width $screen-tablet - 25px

    .input
        display none

+media-mobile()
    .input
        display none

.actions
    display flex
    flex-grow 1

.logo
    width 75px

.menu
    border-radius 50%
    width 41px
    height 41px
    display flex
    flex-direction column
    align-items center
    justify-content center
    cursor pointer
    margin-right 15px
    transition background-color .15s ease
    flex-shrink 0

    &:hover
        background-color rgba(0, 0, 0, .05)

.input
    placeholder(#777)
    color #555
    height 41px
    border-radius 20px
    border 0
    outline 0
    background-color rgba(0, 0, 0, .00)
    font-size 1.1em
    min-width 0
    width 0
    transition all .1s ease-in-out

    &:focus
        placeholder(#bbb)

    &-open
        background-color rgba(0, 0, 0, .03)
        padding 0 20px
        min-width 80%
