@import '~dayler-ui/stylus/mixins'
@import '~dayler-ui/stylus/variables'

@import '~app/stylus/variables'

.container
    fadeInDown(.3s)
    display flex
    background-color #fff
    height $header-height
    align-items center
    box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
    justify-content center
    position fixed
    width 100%
    user-select none
    z-index 10

.content
    height 100%
    display flex
    align-items center
    width calc(100vw - 25px)
    justify-content space-between

+media-retina()
    .content
        width $screen-retina - 25px

+media-desktop()
    .content
        width $screen-desktop - 25px

+media-tablet()
    .content
        width $screen-tablet - 25px

    .input
        display none

+media-mobile()
    .input
        display none

.actions
    display flex
    flex-grow 1

.logo
    width 75px

.menu-icon
    border-radius 50%
    width 41px
    height 41px
    display flex
    flex-direction column
    align-items center
    justify-content center
    cursor pointer
    margin-right 15px
    transition background-color .25s ease
    flex-shrink 0

    &:hover
        background-color rgba(0, 0, 0, .05)
