@import '~dayler-ui/mixins'
@import '~@app/variables'

.container
	fadeInDown(.5s)
	display flex
	background-color #fff
	width 100%
	height $header-height
	align-items center
	box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
	position fixed
	top 0
	justify-content center
	z-index 1000

.content
	justify-content space-between
	align-items center
	user-select none

.menu
	background-color transparent
	border-radius 50%
	height 42px
	width 42px
	align-items center
	justify-content center
	display flex
	transition .2s ease-in-out
	cursor pointer

	&:hover
		background-color #eee
