@import '../../colors'

.container
	background-color: #fff
	border-radius: 2px
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .17)
	width: 100%

.header
	align-items: flex-end
	border-bottom: 2px solid #ddd
	display: flex
	height: 60px
	justify-content: flex-start
	padding: 0 20px
	position: relative
	user-select: none

.body
	padding: 30px

.link
	color: #909090
	display: block
	font-size: 12px
	min-width: 80px
	padding: 15px 10px
	position: relative
	text-align: center
	text-decoration: none
	text-transform: uppercase
	top: 2px

.active
	color: #202020

.border
	background-color: $red
	bottom: -2px
	display: block
	height: 2px
	left: 35px
	position: absolute
	transition: left .2s ease, width .1s ease
	width: 80px
