@import '~dayler-ui/stylus/mixins'
@import '~dayler-ui/stylus/variables'

@import '~app/stylus/variables'

.container
    padding 25px 0
    width 100%
    position absolute
    top $header-height
    bottom 0
    overflow-y auto
    align-items center
    display flex
    flex-direction column

.content
    display flex
    flex-direction column
    width calc(100vw - 25px)

+media-retina()
    .content
        width $screen-retina - 25px

+media-desktop()
    .content
        width $screen-desktop - 25px

+media-tablet()
    .content
        width $screen-tablet - 25px
