@import '~dayler-ui/stylus/mixins'
@import '~dayler-ui/stylus/variables'

@import '~app/stylus/variables'

.container
    flex-grow 1
    position absolute
    top 0
    display flex
    flex-direction column
    overflow-y auto

+media-retina()
    .xl
        left $navigation-width-xl
        width "calc(%s - %s)" % ($screen-retina $navigation-width-xl)

    .xs
        left $navigation-width-xs
        width "calc(%s - %s)" % ($screen-retina $navigation-width-xs)

+media-desktop()
    .xl
        left $navigation-width-xl
        width "calc(%s - %s)" % ($screen-desktop $navigation-width-xl)

    .xs
        left $navigation-width-xs
        width "calc(%s - %s)" % ($screen-desktop $navigation-width-xs)

+media-tablet()
    .xl, .xs
        left $navigation-width-xs
        width "calc(%s - %s)" % ($screen-tablet $navigation-width-xs)
