@import '~dayler-ui/stylus/mixins'
@import '~dayler-ui/stylus/variables'

@import '~app/stylus/variables'

.container
    width 100%
    flex-grow 1

.content
    display flex
    flex-direction column
    width "calc(%s - %s)" % (100vh $navigation-width-xl)


+media-retina()
    .content
        width "calc(%s - %s)" % ($screen-retina $navigation-width-xl)

+media-desktop()
    .content
        width "calc(%s - %s)" % ($screen-desktop $navigation-width-xl)

+media-tablet()
    .content
        width "calc(%s - %s)" % ($screen-tablet $navigation-width-xs)
