@import '~dayler-ui/stylus/mixins'
@import '~dayler-ui/stylus/variables'

.container
    width 100%

.content
    display flex
    flex-direction column
    width calc(100vw - 25px)

+media-retina()
    .content
        width $screen-retina - 25px

+media-desktop()
    .content
        width $screen-desktop - 25px

+media-tablet()
    .content
        width $screen-tablet - 25px
