@import '../mixins/animate.styl'

:global(.fadeIn)
	fadeIn(.3s)

:global(.fadeInUp)
	fadeInUp(.3s)

:global(.fadeInDown)
	fadeInDown(.3s)

:global(.fadeInLeft)
	fadeInLeft(.3s)

:global(.fadeInRight)
	fadeInRight(.3s)
