.container
	background-color #ffffff
	border-radius 2px
	box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)

	&:not(:last-child)
		margin-bottom 15px

.header
	align-items center
	background-color #f9f9f9
	border-bottom 1px solid #eeeeee
	border-top-left-radius 2px
	border-top-right-radius 2px
	color #b0b0b0
	display flex
	font-size .85em
	height 34px
	padding 0 20px
	text-transform uppercase
	user-select none

.body
	padding 20px
	border-bottom-left-radius 2px
	border-bottom-right-radius 2px

.icon
	color: #999999
	margin-right: 10px
