@import './animate'

route()
	.container
		fadeIn(.1s)
		width 100%

	.header
		display flex
		flex-direction column

	.title
		font-size 1.8em
		font-weight 300
		color #636363

	.description
		color #676767
		font-weight 300
