@import '../../stylus/colors'
@import '../../stylus/mixins/placeholder'

.group
	display: flex
	flex-direction: column

.input
	placeholder(#8e8e8e)

	padding: 0 12px
	width: 100%
	height: 31px
	outline: 0
	border: 0
	border-radius: 2px
	background-color: $DEFAULT - 5%
	color: #111111
	vertical-align: bottom
	font-size: 14px
	font-family: 'PT Sans', arial, sans-serif

	&:focus
		placeholder(transparent)

.white
	background-color: #fff

.label
	margin-bottom: 2px
	margin-left: 1px
	color: #777777
