@import '../../stylus/colors'
@import '../../stylus/mixins/placeholder'

$DEFAULT-BACKGROUND = #8E8E8E
$INPUT-COLOR = #111111
$LABEL-COLOR = #777777
$WHITE-BACKGROUND = #FFFFFF

.group
	display: flex
	flex-direction: column

.input
	placeholder($DEFAULT-BACKGROUND)

	padding: 0 12px 0
	width: 100%
	height: 32px
	outline: 0
	border: 0
	border-radius: 2px
	background-color: $DEFAULT - 5%
	color: $INPUT-COLOR
	vertical-align: bottom
	font-size: 14px
	line-height: 1.4

	&:focus
		placeholder(transparent)

.white
	background-color: $WHITE-BACKGROUND

.label
	margin-bottom: 2px
	margin-left: 1px
	color: $LABEL-COLOR
