.container
    width 25px
    height 21px
    position relative
    transform rotate(0deg)
    transition .5s ease-in-out

    & > *
        display block
        position absolute
        height 3px
        width 100%
        background #000
        opacity 1
        transform rotate(0deg)
        transition .15s ease-in-out
        border-radius 3px

        &:nth-child(1)
            top 0

        &:nth-child(2)
            top 9px

        &:nth-child(3)
            top 18px

.active
    & > *
        &:nth-child(1)
            transform rotate(45deg)
            top 9px

        &:nth-child(3)
            transform rotate(-45deg)
            top 9px

        &:nth-child(2)
            opacity 0
