@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&subset=cyrillic');

html, body
	height 100%
	background-color #f6

body
	font-family 'Noto Sans', sans-serif
	font-size 14px
	font-weight 400
	line-height 1.5
