.color-dark
    color DARK

.color-default
    color DEFAULT

.color-gray
    color GRAY

.color-green
    color GREEN

.color-red
    color RED

.color-yellow
    color YELLOW

.bg-dark
    background-color DARK

.bg-default
    background-color DEFAULT

.bg-gray
    background-color GRAY

.bg-green
    background-color GREEN

.bg-red
    background-color RED

.bg-yellow
    background-color YELLOW
