@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&subset=cyrillic');

@import './colors'
@import './reset'

body, html
	font-family 'PT Sans', sans-serif
	font-size 14px
	line-height normal
	height 100%
	color $grey-600

body
	display flex
	flex-direction column
	background-color #fff

:global(.root)
	flex-direction column
	display flex
	flex-grow 1

a
	color $blue-600

	&:hover
		color $blue-800
