@import './variables'

media-retina()
	+above($screen-retina)
		{block}

media-desktop()
	+between($screen-desktop, $screen-retina - 1px)
		{block}

media-tablet()
	+between($screen-tablet, $screen-desktop - 1px)
		{block}

media-mobile()
	+below($screen-tablet - 1px)
		{block}

fadeIn(duration)
	animation-name: fadeIn
	animation-duration: duration
	animation-fill-mode: both

	@keyframes fadeIn
		from
			opacity: 0

		to
			opacity: 1

fadeInUp(duration)
	animation-name: fadeInUp
	animation-duration: duration
	animation-fill-mode: both

	@keyframes fadeInUp
		from
			opacity: 0
			transform: translate3d(0, 100%, 0)

		to
			opacity: 1
			transform: none

inUp(duration)
	animation-name: fadeInUp
	animation-duration: duration
	animation-fill-mode: both

	@keyframes fadeInUp
		from
			transform: translate3d(0, 100%, 0)

		to
			transform: none

fadeInDown(duration)
	animation-name: fadeInDown
	animation-duration: duration
	animation-fill-mode: both

	@keyframes fadeInDown
		from
			opacity: 0
			transform: translate3d(0, -100%, 0)

		to
			opacity: 1
			transform: none

inDown(duration)
	animation-name: fadeInDown
	animation-duration: duration
	animation-fill-mode: both

	@keyframes fadeInDown
		from
			transform: translate3d(0, -100%, 0)

		to
			transform: none

fadeInLeft(duration)
	animation-name: fadeInLeft
	animation-duration: duration
	animation-fill-mode: both

	@keyframes fadeInLeft
		from
			opacity: 0
			transform: translate3d(-100%, 0, 0)

		to
			opacity: 1
			transform: none

fadeInRight(duration)
	animation-name: fadeInRight
	animation-duration: duration
	animation-fill-mode: both

	@keyframes fadeInRight
		from
			opacity: 0
			transform: translate3d(100%, 0, 0)

		to
			opacity: 1
			transform: none

fadeOut(duration)
	animation-name: fadeOut
	animation-duration: duration
	animation-fill-mode: both

	@keyframes fadeOut
		from
			opacity: 1

		to
			opacity: 0

ripple(color, shift = 70%)
	position: absolute
	border-radius: 100%
	background-color: color + shift
	transform: scale(0)

placeholder(color)
	&::-webkit-input-placeholder
		color: color

	&::-moz-placeholder
		color: color

	&:-moz-placeholder
		color: color

	&:-ms-input-placeholder
		color: color
