@import './variables'

/* MEDIA MIXINS */
media-retina()
	+above($screen-retina)
		{block}

media-desktop()
	+between($screen-desktop, $screen-retina - 1px)
		{block}

media-tablet()
	+between($screen-tablet, $screen-desktop - 1px)
		{block}

media-mobile()
	+below($screen-tablet - 1px)
		{block}
