$CONTAINER-BACKGROUND = #FFFFFF
$DOT-COLOR = #FFFFFF
$FRAME-BACKGROUND = #AAAAAA
$PORTAL-OUTLINE = #AAAAAA

dot()
	position: absolute
	margin: 0
	padding: 0
	width: 5px
	height: 5px
	background-color: $DOT-COLOR

.wrapper
	width: 0
	height: 0

	& > *
		user-select: none

.input
	display: none

.shadow
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 100
	display: none
	justify-content: center
	align-items: center
	width: 100%
	height: 100%
	outline: 1px solid green
	background-color: rgba(0, 0, 0, .6)

.container
	top: 100px
	display: grid
	border-radius: 2px
	background-color: $CONTAINER-BACKGROUND
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .17)

.avatars
	flex-grow: 1

.preview
	display: flex
	flex-direction: column
	padding: 35px 25px

.title
	display: block
	margin-bottom: 35px
	font-size: 26px

.portal
	position: absolute

	&-handler
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		outline: 1px dashed $PORTAL-OUTLINE
		background-color: transparent
		cursor: move
		z-index: 101
		user-select: none

	&-dot
		&-tL
			dot()

			top: -3px
			left: -3px
			cursor: nw-resize

		&-tR
			dot()

			top: -3px
			right: -3px
			cursor: ne-resize

		&-bR
			dot()

			right: -3px
			bottom: -3px
			cursor: se-resize

		&-bL
			dot()

			bottom: -3px
			left: -3px
			cursor: sw-resize

.frame
	position: relative
	display: flex
	justify-content: center
	align-items: center
	overflow: hidden
	border-top-left-radius: 2px
	border-bottom-left-radius: 2px
	background-color: $FRAME-BACKGROUND

.source
	width: auto
	user-select: none
	-webkit-backface-visibility: hidden
	-webkit-perspective: 1000
	-webkit-transform: translateZ(0)

	&-shadow
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: rgba(0, 0, 0, .4)

.fake
	&-portal
		position: absolute
		top: 0
		left: 0
		overflow: hidden
		width: 100%
		height: 100%
		border-radius: 50%
		background-color #FFF
		z-index 100

	&-source
		backface-visibility: hidden
		transform: translateZ(0)
		user-select: none
		perspective: 1000px
