@import '~ui/stylus/base.styl'

$NAV_EXAPNDED    = 280px
$NAV_UNEXAPNDED  = 80px

:global(.root)
    display flex
    align-items stretch
    justify-content stretch
    background-color #F8F8F8
    position absolute
    height 100%
    width 100%

.app
    background-color #F8F8F8
    display flex
    position absolute
    left 0
    right 0
    top 0

.app-expanded
    & .route
        padding-left $NAV_EXAPNDED + 30px


.route
    fadeIn(.2s)
    flex-grow 1
    height 100%
    padding 25px 30px 0 $NAV_UNEXAPNDED + 30px
    transition padding-left .1s ease-in-out
    width 100%
    min-height 100%

    &-header
        align-items center
        display flex
        height 60px

    &-body
        display grid
        max-width 800px

    &-title
        color #333333
        font-size 26px
