@import '~ui/stylus/mixins/animate'
@import '~ui/stylus/base.styl'

$NAV_EXAPNDED    = 280px
$NAV_UNEXAPNDED  = 80px

body, html
    height 100%
    min-width 1024px

:global(.root)
    height 100%
    min-width 100%

.app
    background-color #F8F8F8
    min-height 100%
    width 100%
    outline 1px solid green

.app-expanded
    & .route
        padding-left $NAV_EXAPNDED + 30px


.route
    fadeIn(.2s)
    padding 25px 30px 0 $NAV_UNEXAPNDED + 30px
    transition padding-left .1s ease-in-out

    &-header
        display flex
        height 55px

    &-body
        display grid
        max-width 800px

    &-title
        color #333333
        font-size 24px
        line-height 24px
