.panel
    background-color #FFF
    box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
    border-radius 2px

    &__header
        background-color #F9F9F9
        padding 0 20px
        height 36px
        border-bottom 1px solid #E0E0E0
        display flex
        align-items center

        &--icon
            margin-right 10px
            color #B0B0B0
            position relative
            top 1px

        &--title
            color #B0B0B0
            font-size .9em
            text-transform uppercase

    &__body
        padding 20px
        border-radius 2px
