@import '../../stylus/colors'

@keyframes buttonRippleAnimation
	100%
		opacity: 0
		transform: scale(2.5)

.button
	position: relative
	display: inline-flex
	justify-content: center
	align-items: center
	overflow: hidden
	padding: 0 18px
	min-width: 85px
	height: 31px
	outline: 0
	border: 0
	border-radius: 2px
	background-color: $DEFAULT - 5%
	color: #000
	vertical-align: top
	text-decoration: none
	text-transform: uppercase
	font-family: 'Myriad Pro', 'PT Sans', arial, sans-serif
	font-size: 12px
	cursor: pointer

	&:disabled
		background-color: $DEFAULT + 15%
		color #666

	&-icon
		min-width: 45px
		line-height: 18px

		& .title
			margin-left: 5px

.animate
	animation: buttonRippleAnimation .4s linear

.ripple
	position: absolute
	border-radius: 100%
	background-color: $DEFAULT - 10%
	transform: scale(0)

.title
	position: relative
	top: 1px
	z-index: 2

.icon
	position: relative
	z-index: 2
	display: flex
	align-items: center
	font-size: 10px

.dark
	background-color: $DARK
	color: #fff

	&:hover
		background-color: $DARK + 10%

	&:disabled
		background-color: $DARK + 35%
		color #fff

	& > .ripple
		background-color: $DARK + 25%

.red
	background-color: $RED
	color: #fff

	&:hover
		background-color: $RED + 10%

	&:disabled
		background-color: $RED + 25%
		color #fff

	& > .ripple
		background-color: $RED + 25%

.green
	background-color: $GREEN
	color: #fff

	&:hover
		background-color: $GREEN + 10%

	&:disabled
		background-color: $GREEN + 25%
		color #fff

	& > .ripple
		background-color: $GREEN + 25%

.yellow
	background-color: $YELLOW
	color: #fff

	&:hover
		background-color: $YELLOW + 10%

	&:disabled
		background-color: $YELLOW + 25%
		color #fff

	& > .ripple
		background-color: $YELLOW + 25%
