@import '../../colors'
@import '../../variables'
@import '../../mixins/media'

.container
	height: 56px

.expanded
	.title
		display block

.href
	display: flex
	align-items: center
	height: 100%
	color: $dark
	text-decoration: none

	&:hover
		background-color: #fafafa

.icon
	width $nav-width-min

.title
	display: none

.active
	.icon
		color: $red

	.title
		color: #333

+media-tablet()
	.title
		display block

+media-mobile()
	.title
		display block

