@import '../../stylus/mixins/animate'
@import '../../stylus/colors'

.container
	position: absolute
	display: flex
	flex-direction: column
	min-width: 300px
	max-width: 500px

.snack
	position: relative
	z-index: 1000
	display: flex
	justify-content: center
	align-items: center
	padding: 13px 20px 10px
	width: 100%
	border-radius: 2px
	background-color: $DARK
	color: #fff
	line-height: 24px
	font-size 14px
	font-weight 300
	font-family: 'Myriad Pro', 'PT Sans', arial, sans-serif
	user-select: none

	&:not(:last-child)
		margin-bottom: 20px

.nw, .sw
	fadeInLeft(.3s)

.n
	fadeInDown(.3s)

.ne, .se
	fadeInRight(.3s)

.s
	fadeInUp(.3s)

.red
	background-color: $RED

.green
	background-color: $GREEN

.yellow
	background-color: $YELLOW
