@import '../../colors'

.container
	align-items center
	align-self flex-start
	border-radius 13px
	color #ffffff
	display inline-flex
	font-size .9em
	height 25px
	justify-content center
	min-width 100px
	padding 0 15px
	user-select none
	cursor pointer
	background-color $dark + 70%

.dark
	&.active
		background-color $dark

.green
	&.active
		background-color $green

.red
	&.active
		background-color $red

.yellow
	&.active
		background-color $yellow
