@import '~dayler-ui/mixins/route'

route()

.panel
	display flex
	flex-wrap wrap
	justify-content center

.icon
	display flex
	flex-direction column
	align-items center
	width 120px
	height 80px

.icontitle
	color #777777
	margin-top 15px
	font-size .9em
	user-select all
