@import '~dayler-ui/stylus/mixins'

.container
    placeholder(#777)
    color #555
    height 41px
    border-radius 20px
    border 0
    outline 0
    background-color rgba(0, 0, 0, .00)
    font-size 1em
    min-width 0
    width 0
    transition all .1s ease-in-out

    &:focus
        placeholder(#bbb)

.active
    background-color rgba(0, 0, 0, .03)
    padding 0 20px
    min-width 80%

+media-tablet()
    .container
        display none

+media-mobile()
    .container
        display none
