.container
	display flex
	flex-grow 1
	overflow-y auto
	position fixed
	top 0
	bottom 0
	width 100vw
	align-items center
	flex-direction column

.horizontal
	flex-direction row
	align-items flex-start
