@import '~dayler-ui/mixins/route'
@import '~dayler-ui/colors'

route()

.colors
	display flex
	flex-wrap wrap

.color
	align-items flex-end
	box-shadow 0 2px 7px 0 rgba(0, 0, 0, .17)
	color #fff
	display flex
	flex-direction column
	height 100px
	justify-content flex-end
	padding 10px
	width 100px

	&:not(:last-child)
		border-radius 2px
		margin-bottom 10px
		margin-right 10px

	&-title, &-value
		display block
		font-size .9em
		user-select none

	&-title
		opacity .7

	&-value
		user-select all
		text-transform uppercase

.dark
	background-color $dark

.gray
	background-color $gray

.green
	background-color $green

.red
	background-color $red

.yellow
	background-color $yellow

