.container
    display flex
    align-self flex-start

.h1
    font-size 28px

.h2
    font-size 24px

.h3
    font-size 20px

.h4
    font-size 18px

.h5
    font-size 16px

.h6
    font-size 16px
    font-weight 700
