@import '~dayler-ui/animations'
@import '~dayler-ui/colors'
@import '~dayler-ui/mixins'

@import '~@app/stylus/variables'

.container
    display flex
    height 50px
    align-items center
    text-decoration none
    position relative
    overflow hidden
    flex-shrink 0

    &:hover
        background-color $grey-100 + 95%

        .title, .icon
            color $grey-400

.active, .active:hover
    .title
        color $grey-900

    .icon
        color $red-500

.icon
    width $nav-height
    color $grey-300
    position relative

.title
    flex-grow 1
    color $grey-300
    position relative

.min
    .title
        display none

.ripple
	ripple($grey-100)

.animate
	animation: rippleAnimation .35s linear

+media-tablet()
    .title
        display none

+media-mobile()
    .animate
    	animation none

    .title
        display flex

    .min
        .title
            display flex
