.panel
	border-radius: 2px
	background-color: #fff
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .17)

.header
	display: flex
	align-items: center
	padding: 0 20px
	height: 36px
	border-bottom: 1px solid #e9e9e9
	background-color: #f9f9f9
	border-top-left-radius 2px
	border-top-left-radius 2px

.body
	border-radius: 2px
	font-family: 'Myriad Pro', 'PT Sans', arial, sans-serif
	padding: 20px 20px 18px

.icon
	position: relative
	top: 3px
	margin-right: 10px
	color: #777

.title
	font-family: 'Myriad Pro', 'PT Sans', arial, sans-serif
	position: relative
	top: 1px
	color: #999
	text-transform: uppercase
	font-size: 12px
