@import './var.styl'
@import '~ui/style/mixins/animate.styl'

pre
    font-family Monaco
    font-size 12px
    color #777777

:global(#app)
    height 100%
    display flex
    align-items stretch
    justify-content stretch
    background-color #F8F8F8
    position absolute
    width 100%

:global(.ui-app)
    background-color #F8F8F8
    display flex
    left 0
    position absolute
    right 0
    top 0

    & :global(.route)
        fadeIn(.2s)
        flex-grow 1
        height 100%
        padding 25px 30px 0 NAV_UNEXAPNDED + 30px
        transition padding-left .1s ease-in-out
        width 100%
        min-height 100%

        &__icon-preview
            align-items center
            display flex
            flex-direction column
            height 100px
            justify-content center

            & > :global(span)
                color #999
                display block
                margin-top 15px

        &__title
            color #333
            font-size 1.4em
            margin 0 0 10px
            padding 0 0 10px

        &__body
            display grid
            max-width 800px

    &:global(.expand)
        & :global(.route)
            padding-left NAV_EXAPNDED + 30px
