@import '../../mixins'
@import '../../variables'

.container
    display flex
    flex-direction column
    flex-shrink 0
    width 100%

+media-retina()
    .container
        width $screen-retina

+media-desktop()
    .container
        width $screen-desktop

+media-tablet()
    .container
        width $screen-tablet
